<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/admin.css" media="all">
</head>
<body style="margin: 0px">

<table cellpadding="0" cellspacing="0" width="100%" border="0" class="header">
<tr height="46">
            <td width="260"><img width="260" height="46" src="__PUBLIC__/Admin/images/header_left.jpg" /></td>
            <td align="middle" class="con"><a href="{:U('index/loginout')}">退出</a></td>
            <td align=right width="105"><img width="105" height="46" src="__PUBLIC__/Admin/images/header_right.jpg" /></td>
        </tr>
    </table>
    <div class="head_b"></div>
</body>
</html>

